---
import { Terminal, Globe, Camera, Music, Rss } from 'lucide-react';

---

<footer class="border-t border-border/40 py-12 md:px-8 md:py-0">
  <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row max-w-screen-md mx-auto px-4">
    <div class="flex flex-col items-start gap-1">
      <p class="text-xs text-muted-foreground">
        Copyright © 2026 | rockyxwall
      </p>
    </div>

    <div class="flex items-center gap-4">
      <span class="text-lg">🇪🇸</span>
      <div class="flex items-center space-x-4">
        <a href="https://github.com/rockyxwall" target="_blank" rel="noreferrer">
          <Terminal className="h-4 w-4 text-muted-foreground hover:text-foreground" />
        </a>
        <a href="#" target="_blank" rel="noreferrer">
          <Globe className="h-4 w-4 text-muted-foreground hover:text-foreground" />
        </a>
        <a href="#" target="_blank" rel="noreferrer">
          <Camera className="h-4 w-4 text-muted-foreground hover:text-foreground" />
        </a>
        <a href="#" target="_blank" rel="noreferrer">
          <Music className="h-4 w-4 text-muted-foreground hover:text-foreground" />
        </a>
        <a href="#" target="_blank" rel="noreferrer">
          <Rss className="h-4 w-4 text-muted-foreground hover:text-foreground" />
        </a>
      </div>

    </div>
  </div>
</footer>
